@import "tailwindcss";

:root {
  --background: #FFFFFF; /* Off-white */
  --foreground: #2D3748; /* Dark Gray */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A202C; /* Dark Slate */
    --foreground: #E2E8F0; /* Light Slate */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
